:root {
  --primary-color: #c02e32;
  --secondary-color: #421a30;
  --background-color: #f4f4f4;
}

body {
  background-color: var(--background-color);
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: var(--secondary-color);
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 16px;
  font-weight: 600;
}
p {
  font-family: "PT Serif", serif;
  font-weight: 400s;
  font-size: 14px;
  color: var(--secondary-color);
}
a {
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 14px;
  padding: 10px 12px;
  background-color: lightGrey;
  font-size: 12px;
}

.hero {
  text-align: center;
  padding: 200px 200px 60px;
  background-color: var(--primary-color);
}
.hero p {
  margin-top: 42px;
  color: #e2d4bb;
}
.hero h1 {
  color: var(--secondary-color);
}
.fa-chevron-down {
  color: #e2d4bb;
}

/* About page */

.about-section {
  background-color: #5c3865;
  padding: 150px 200px 60px;
}
.about-section h1 {
  color: #1b1e26;
}
.about-section p {
  color: #1b1e26;
  font-size: 16px;
  line-height: 2;
}

.about-section .cv-link {
  color: #1b1e26;
  font-family: "PT Serif", serif;
  text-decoration: none;
  padding: 0;
  background-color: #5c3865;
  line-height: 3;
  margin-top: 30px;
}
.about-section .cv-link:hover {
  color: #73d14e;
}
.about-section .email {
  color: #1b1e26;
  line-height: 2;
}

/* Media */
@media (max-width: 900px) {
  .hero {
    padding: 60px 20px 20px;
  }
  .hero h1 {
    text-align: center;
  }
}
